html, body {
	font-family: Verdana, Arial, sans-serif;
	margin: 0;
	padding: 0;
	font-size: medium;
	width: 100%;
	height: 98%;
}

input {
	font-size: medium;
}


.videopaneobject {
	position: relative;
	top: -328px;
	z-index: 2;
}

.distance {
	float: right;
	font-size: 0.7em;
	position: relative;
	background: #ccc;
	padding: 0.4em;
}

.overviewclick {
	padding: 0.5em;
	border: 1px solid #ccc;
	margin: 0;
}

.overviewclick:hover {
	background: #ccc;
	cursor: pointer;
}

.overviewclicked {
	background: #B5EBC1;
	padding: 0.5em;
	border: 1px solid #ccc;
	margin: 0;
}

.overviewclicked:hover {
	background: #B5EBC1;
}

.activestep {
	background: #B5EBC1;
}

.activestep:hover {
	background: #B5EBC1;
}

.clickdirection:hover {
	background: #eee;
	cursor: pointer;
}

#playcontrol {
	margin: 0;
	padding: 5px;
	background: #fff;
}

#playcontrol img {
	display: block;
}

#speedcontrol {
	margin: 5px 0 0 0 ;
	padding: 0;
	background: #fff;
	font-weight: bold;
}

#speeddisplay {
	text-align: center;
	margin: 5px 0 5px 0;
	padding: 0;
}

.speedbutton {
	display: block;
	margin: 0;
}

#searchbutton {
	font-size: medium;
	height: 25px;
	background-color: #ddd;
	border: 1px solid #666;
	color: #000;
	text-decoration: none;
	margin-left: 0;
	clear: right;
}

#clickon {
	background: #F2EA91;
	padding: 0.2em;
	margin: 0.5em 0 0.5em 0;
	font-weight: normal;
}
#search {
	margin: 0;
	padding: 0.5em;
	font-size: 1.1em;
}

#search h1 {
	font-size: 1em;
	font-weight: normal;
	margin: 0.1em;
}

#searchbar {
	vertical-align: top;
	width: 90%;
	margin-right: 0;
	float: left;
}

#information {
	float: left;
	width: 25%;
	height: 95%;
	margin: 0;
	padding: 0.2em;
	overflow-y: scroll;
}

#searchmap {
	overflow: hidden;
	z-index: 1;
	width: 74%;
	height: 95%;
}

#videopane {
	overflow: hidden;
	width: 74%;
	height: 95%;
	background: #000;
}

#video {
	z-index: 2;
}

#dragmap {
	z-index: 3;
	cursor: move;
	padding: 0;
	position: relative;
	top: 0;
	left: 0;
	border: 1px solid #000;
	width: 310px;
	height: 325px;
	background: #fff;
}
#seekmap {
	margin: 0;
	overflow: hidden;
	z-index: 4;	
	width: 300px;
	height: 300px;
	position: relative;
	top: 20px;
	left: 5px;
	border: 1px solid #000;
}

#leftdirections input, #leftdirections label {
	display: block;
	margin: 0.3em;
}

#fromfield, #tofield {
	width: 95%;
}

ol#clickabledirections {
	margin: 0;
}

ol#clickabledirections li {
	padding: 0.5em;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}

ol#clickabledirections li:last-child {
	padding: 0.5em;
	border-bottom: none;
	font-weight: bold;
}

#leftdirectionslist li span {
	font-weight: normal;
}

#rightclickmenu {
	z-index: 10;
	padding: 0;
	background: #fff;
	border: 1px solid #ccc;
	position: absolute;
}

ol#rightclickopt {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ol#rightclickopt li {
	padding: 0.5em;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

ol#rightclickopt li:last-child {
	padding: 0.5em;
	border-bottom: none;
}

#rightclickopt li:hover {
	background: #eee;
}

